@charset "UTF-8";


#menu {
    background-color: red;
}
#menu a {
    color: white;
    text-decoration: none;
}
.preco  {
    color: red;
}

#formas_de_pagamento {
    color: black;
}

.rodape {        
    position : absolute;
    text-align: center;
    bottom : 0;
    height : 150px;
    margin-top : 40px;
    left: 50vw;
              
}